<div class="container-fluid default-dashboard">
  <div class="row">
    <div class="col-xl-4 proorder-xxl-1 col-sm-6 box-col-6">
      <app-top-default-card></app-top-default-card>
    </div>
    <div class="col-xxl-3 col-xl-4 proorder-xxl-2 col-sm-6 box-col-6">
      <app-dashboard-bids></app-dashboard-bids>
    </div>
    <div class="col-xxl-5 col-xl-6 proorder-xxl-7 col-lg-12 box-col-12"></div>
    <div
      class="col-xxl-6 col-xl-8 proorder-xxl-8 col-lg-12 col-md-6 box-col-7"
    ></div>
    <div class="col-xxl-3 col-xl-4 proorder-xxl-9 col-md-6 box-col-5"></div>
    <div class="col-xxl-3 col-xl-4 proorder-xxl-3 col-md-6 box-col-6"></div>
    <div class="col-xxl-3 col-xl-4 proorder-xxl-12 col-md-6 box-col-6"></div>
    <div class="col-lg-6 proorder-xxl-6 box-col-12"></div>
    <div class="col-xxl-3 col-xl-5 proorder-xxl-4 col-md-6 box-col-6"></div>
    <div class="col-xxl-3 col-xl-4 proorder-xxl-10 col-md-6 box-col-6"></div>
    <div class="col-xxl-3 col-xl-4 proorder-xxl-11 col-md-6 box-col-6"></div>
    <div class="col-xxl-6 col-xl-7 proorder-xxl-5 col-md-6 box-col-6"></div>
  </div>
</div>
