<div class="row project-cards">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h2 class="mb-3">Line Items</h2>
        <div class="table-responsive">
          <div
            *ngIf="lineItems.length === 0"
            role="alert"
            class="alert alert-light-warning text-center"
          >
            There are no List Items available.
          </div>
          <table
            class="table table-borderless mb-3"
            *ngIf="lineItems.length > 0"
          >
            <thead>
              <tr>
                <th class="f-w-300 text-center">
                  <h4>Name</h4>
                </th>
                <th class="f-w-300 text-center">
                  <h4>My Bid/Budget</h4>
                </th>
                <th class="f-w-300 text-center">
                  <h4>Subcontractor Cost</h4>
                </th>
                <th class="f-w-300 text-center">
                  <h4>Profit Margin</h4>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="
                  let item of lineItems
                    | paginate
                      : { itemsPerPage: 10, currentPage: pageLineItems }
                "
              >
                <tr>
                  <td class="f-w-300 text-center">{{ item.lineItemName }}</td>
                  <td class="f-w-300 text-center">
                    {{ item.budget | currency }}
                  </td>
                  <td class="f-w-300 text-center">
                    {{ item.subcontractorCost | currency }}
                  </td>
                  <td class="f-w-300 text-center">
                    {{ calculateProfitMargin(item) | currency }}
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <pagination-controls
            (pageChange)="pageLineItems = $event"
            [maxSize]="5"
            [directionLinks]="true"
            [autoHide]="true"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
