<div>
  <h2>Materials</h2>
  <button mat-button (click)="openAddMaterialDialog()">Add Material</button>
  <table mat-table [dataSource]="materials" class="mat-elevation-z8">
    <ng-container matColumnDef="nameDescription">
      <th mat-header-cell *matHeaderCellDef> Name/Description </th>
      <td mat-cell *matCellDef="let material"> {{material.nameDescription}} </td>
    </ng-container>

    <ng-container matColumnDef="datePurchased">
      <th mat-header-cell *matHeaderCellDef> Date Purchased </th>
      <td mat-cell *matCellDef="let material"> {{material.datePurchased | date}} </td>
    </ng-container>

    <ng-container matColumnDef="placePurchased">
      <th mat-header-cell *matHeaderCellDef> Place Purchased </th>
      <td mat-cell *matCellDef="let material"> {{material.placePurchased}} </td>
    </ng-container>

    <ng-container matColumnDef="itemNumber">
      <th mat-header-cell *matHeaderCellDef> Item Number </th>
      <td mat-cell *matCellDef="let material"> {{material.itemNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef> Notes </th>
      <td mat-cell *matCellDef="let material"> {{material.notes}} </td>
    </ng-container>

    <ng-container matColumnDef="photoUploadUrl">
      <th mat-header-cell *matHeaderCellDef> Photo Upload </th>
      <td mat-cell *matCellDef="let material">
        <div *ngIf="materialFiles[material.id] && materialFiles[material.id].length > 0; else uploadButton">
          <img [src]="materialFiles[material.id][0]" alt="Thumbnail" (click)="openFile(materialFiles[material.id][0])" style="width: 100px; height: 100px; cursor: pointer;" />
        </div>
        <ng-template #uploadButton>
          <button mat-button (click)="openUploadDialog(material.id)">Upload Photo</button>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
