<form [formGroup]="lineItemForm">
  <div class="card">
    <div class="card-body">
      <div class="form theme-form basic-form">
        <div class="modal-header row mb-3">
          <h3>Add New Line Item</h3>
        </div>

        <div class="row mb-1">
          <select
            class="form-select"
            formControlName="lineItemName"
            required
            aria-label="Select Line Item"
          >
            <option value="">Select Line Item</option>
            <option *ngFor="let item of defaultLineItems">
              {{ item.lineItemName }}
            </option>
          </select>
          <div
            *ngIf="
              lineItemForm.get('lineItemName')?.invalid &&
              (lineItemForm.get('lineItemName')?.touched ||
                lineItemForm.get('lineItemName')?.dirty)
            "
            class="text-danger"
          >
            Line item is required.
          </div>
        </div>

        <div class="row mb-1">
          <input
            class="form-control"
            type="text"
            placeholder="Budget"
            formControlName="budget"
            required
            aria-label="Budget"
          />
          <div
            *ngIf="
              lineItemForm.get('budget')?.invalid &&
              (lineItemForm.get('budget')?.touched ||
                lineItemForm.get('budget')?.dirty)
            "
            class="text-danger"
          >
            Budget is required.
          </div>
        </div>

        <div class="row mb-4">
          <textarea
            class="form-control"
            placeholder="Notes"
            formControlName="notes"
            aria-label="Notes"
          ></textarea>
        </div>

        <div class="modal-footer">
          <button
            class="btn btn-secondary me-3"
            mat-button
            (click)="onNoClick()"
          >
            Cancel
          </button>
          <button
            class="btn btn-primary"
            mat-button
            [disabled]="!lineItemForm.valid"
            (click)="onSaveClick()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
