<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <button (click)="logout()">
    Log out
  </button>
  <button (click)="goToProfileUpdate()">
    My Profile
  </button>
  <button (click)="goToProjectsBidding()">
    My Bids
  </button>
  <button (click)="goToProjects()">
    Projects
  </button>
  <button (click)="goToSubcontractors()">
    Sub Contractors
  </button>
  <button (click)="goToProjectsArchive()">
    Archive
  </button>
</ng-container>

<ng-template #loggedOut>
  <button (click)="login()">Log in</button>
</ng-template>
