<div class="error-wrapper">
    <div class="container">
        <div class="svg-wrraper">
            <img class="img-fluid for-light m-auto" src="assets/images/error-page/6.png" alt="looginpage">
        </div>
        <div class="col-md-8 offset-md-2">
            <h3>Page Not Found</h3>
            <p class="sub-content">The page you are attempting to reach is currently not available. This may be because
                the page does not exist or has been moved.</p><a class="btn btn-primary" [routerLink]="['/dashboard/default']">BACK TO HOME
                PAGE</a>
        </div>
    </div>
</div>