<div class="card">
    <div class="card-header card-no-border pb-0">
        <h3>Order Status</h3>
    </div>
    <div class="card-body">
        <div class="chart-container">
            <div id="linechart"></div>
            <apx-chart [series]="orderStatusData.series" [chart]="orderStatusData.chart"
                [markers]="orderStatusData.markers" [dataLabels]="orderStatusData.dataLabels"
                [title]="orderStatusData.title" [legend]="orderStatusData.legend" [grid]="orderStatusData.grid"
                [fill]="orderStatusData.fill" [stroke]="orderStatusData.stroke" [xaxis]="orderStatusData.xaxis"
                [yaxis]="orderStatusData.yaxis" [responsive]="orderStatusData.responsive"
                [colors]="orderStatusData.colors">
            </apx-chart>
        </div>
    </div>
</div>