<div class="sidebar-body form-check radio ps-0">
    <ul class="radio-wrapper">
        <li class="default-svg"><input class="form-check-input" id="radio-icon5" type="radio" name="radio2"
                value="option2" checked="" (click)="svgIcon('stroke-svg')"><label class="form-check-label"
                for="radio-icon5">
                <svg class="stroke-icon svg-w-18 me-1">
                    <use href="assets/svg/iconly-sprite.svg#Activity"></use>
                </svg><span>Stroke</span>
            </label>
        </li>
        <li class="colorfull-svg">
            <input class="form-check-input" id="radio-icon6" type="radio" name="radio2" value="option2"
                (click)="svgIcon('iconcolor-sidebar')">
            <label class="form-check-label" for="radio-icon6">
                <svg class="stroke-icon svg-w-18 me-1">
                    <use href="assets/svg/iconly-sprite.svg#Activity"></use>
                </svg><span>Colorfull icon</span>
            </label>
        </li>
    </ul>
</div>